#post{
    border:0;
    background-color: white;
    overflow: scroll;
    border-radius: 0;
    padding-right: 3%;
}
#post p{
    text-align: justify;

}
#post h5{
    padding-top:3% ;
}
footer{
    visibility: hidden;
}
.box{
    border:5px solid white;
    border-radius: 2rem;
    margin: 0px 5% !important;
    padding: 5%;
}