body{
    font-family: sans-serif;
}
header{
    background-color:#91FF64;
}
header h1,header h2{
    font-family: 'Anton', sans-serif;
}
header input{
    border:0px;
}
footer{
    background-color:#7D7D7D;
    color: white;
}
nav{
    background-color:#BDBDBD;
}
article{
    background-color: #E0E0E0;
    border: 5px solid #4A4A4A;
}
footer button,nav p{
    background-color: #91FF64 !important;
    color:white;
}
#logo,input,article,article img{
    border-radius: 2rem;
}
a,a:hover{
    color: black !important;
    text-decoration: none !important;
}
a:active{
    color: white !important;
}
main div h5{
    color: white !important;
    background-color: #29A400 !important;
}
#firstcat{
    margin-top: 1%;
}